#main {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#message {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow-y: scroll;
}

#message-entry {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#new-channel-form {
    display: none;
}

#sidebar {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    overflow-y: scroll;
}

#username {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 70vh 30vh;
    height: 100%;
    padding: 1% 3% 1% 3%;
    width: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

ul {
    list-style-type: none;
    padding-right: 3%;
}