$body-font: 'Montserrat', sans-serif;
$heading-font: 'Notable', sans-serif;


#main {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#message {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow-y: scroll;
}

#message-entry {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#new-channel-form {
    display: none;
}

#sidebar {
    border-right: 2px solid gray;
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    overflow-y: scroll;
    text-align: center;
    a {
        color: hotpink;
    }
}

#username {
    display: none;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.grid {
    column-gap: 3%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 70vh 30vh;
    height: 100%;
    padding: 1% 3% 1% 0;
    width: 100%;
}

.message-user {
    font-weight: bold;
}

.nav {
    background-color: #999999;
}

.time {
    font-size: 0.75em;
}

body {
    background-color: #ebe0e6;
    font-family: $body-font;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

h1 {
    font-family: $heading-font;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    // padding-right: 3%;
}